// Customization
//////////////////////////////////////////////////////
@import "../_stylebase.scss";

.ant-btn {
  @include text($font-family_sans, $font-size_small, $font-weight_sans_light);

  &.ant-btn-link {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}
