// Customization
//////////////////////////////////////////////////////
@import "../_stylebase.scss";

.login-form {
  max-width: 300px;
  padding: $size;
  background: $color_white;
  border: 1px solid $color_border;
  border-radius: 3px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
