// Customization
//////////////////////////////////////////////////////
@import "../_stylebase.scss";

.ant-pagination {
  display: inline-block;

  a {
    color: $color_text;
  }

  &.pagination--desktop {
    @include xs {
      display: none;
    }
    @include not-xs {
      display: inline-block;
    }
  }
  &.pagination--mobile {
    @include xs {
      display: inline-block;
    }
    @include not-xs {
      display: none;
    }
  }
}

.ant-pagination-item-active a {
  color: #1890ff;
}
